#root {
  background-color: #444;
  width: 100vw;
  height: 100vh;
}

* {
  font-family: "Squada One";
  letter-spacing: 2px;
}

.char-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.character {
  width: 150px;
  height: 150px;
  margin: 2rem 0 1rem;
}
