#root {
  background-color: #444;
  width: 100vw;
  height: 100vh;
}

* {
  font-family: "Squada One";
  letter-spacing: 2px;
}

.nav-container {
  display: flex;
  justify-content: center;
  width: 640px;
}

nav {
  display: flex;
  width: 80%;
  justify-content: center;
}

nav a {
  margin: 0 1rem;
  font-size: 2rem;
}

.shuffle-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 640px;
  height: 400px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.char-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-width: 500px;
  height: 180px;
  width: 100%;
}

.character {
  width: 170px;
  height: 170px;
}

.back {
  font-size: 2rem;
}
